<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Search_UI</title> 
		<script type="text/javascript" src="../../js/jquery-1.7.2.js"></script>
		<script type="text/javascript" src="../../js/comm.js"></script>
		<!-- //Loading script -->
		
		<!-- Loading style -->
		<link type="text/css" rel="stylesheet" href="../../css/comm.css"/>
		<link type="text/css" rel="stylesheet" href="../../css/patterns.css"/>
		<link type="text/css" rel="stylesheet" href="../../css/reset.css"/>
		<!-- //Loading style -->
    </head>	
    <body>
    	<div class="layout_type2_1_wrap">
			<div class="header"> <!-- header -->
					<table>
					<tbody>
					<tr>
						<div class="searchBar_type2">

							

							<p class="sch_txt"><img src="../../images/searchBar/txt_search.png" alt="search"/></p>
							<div class="sch_bar">
								<p class="selected">
									<span class="txt"></span>
									<span class="btn"><img class src="../../images/searchBar/btn_type2_arr_off.gif" alt="리스트보기"/></span>
								</p>
								<ul>
									<li>통합검색</li>
									<li>게시판</li>
									<li>지식샘</li>
									<li>커뮤니티</li>
									<li>전자도서관</li>
								</ul>
								<input class="sch_input" type="text" value="검색어를 입력하세요."/>
								<span class="sch_btn"><img src="../../images/searchBar/btn_type2_sch.gif" alt="검색"/></span>
							</div><!-- sch_bar -->

							<br><br>

							<div class="sch_bar2">  
								&nbsp;&nbsp;<input type="checkbox" id="research" /><label for="research">결과내 검색</label>
							</div>


							<dl>
									<dt><img src="../../images/searchBar/icon_keyword.png" alt="키워드"/></dt>
									<dd>검색어01</dd>
									<dd>검색어02</dd>
									<dd>검색어03</dd>
									<dd class="none_bg">검색어04</dd>
							</dl>

							 
						</div>   <!-- searchBar_type2-->
					</tr>
					</tbody>
					</table>
			</div> <!-- header -->


			<div class="container">
					<div class="tab_type1"><!-- tab_type1 -->
						<ul>
							
							
							<li class="on">
								<p class="tab none_mar">통합검색</p>
								<div class="t_content">  <!-- t_content통합검색 -->

									 <div class="list_type1" ><!-- list_type1 -->
									 	<ul>
											<li>
												<dl>
													<dt>
														<span class="bold">총 821 건을 검색하였습니다.</span>
													</dt>	
													<dt>
															<select>
																<option>유사도순</option>
																<option>DOC ID순</option>
															</select> 
															<select>
																<option>오름차순</option>
																<option>내림차순</option>
															</select>
													 
															<label for="srch_total">리스트 출력 건수</label>
															<select>
																<option>3</option>
																<option>5</option>
																<option>10</option>
															</select> 
															<span> 건수 </span>
															<a href="#"><img src="../../images/list/type4/icon_sort.gif" alt="정렬"/></a>			
													</dt>
												</dl>
											</li>
										</ul>			
 
									</div><!-- list_type1 -->


									<div class="mar_top50 hei_type1"> <!-- 게시판 -->
										<p class="line_type1"> </p>
										<span class="txt_bold">
										<img src="../../images/searchBar/btn_type3_arr_rgt.gif" alt="게시판"/>
										게시판</span>
										<p class="line_type2"> </p>


										<ul class="list_type5" >
											<li>
												<dl>
													<dt>
														<span class="bu_divi">1</span>
														<span class="bu_divi">[게시판]</span> 													 
														<a href="#">문서 및 행정정보 자료 보안관리 강화 협조 요청</a>
														<span> (유사도 : 99.9%)</span>											
													</dt>

													<dd>
														<span class="bu_divi none_pl">작성자 : 공병훈</span>
														<span>작성일 : 2003-01-01</span>
													</dd>
													<dd>
														<span class="bu_divi none_pl">게시판명 : 공지사항</span>
													</dd>

													<dd class="desc">짝 의자녀 등장 / 짝 의자녀 등장 SBS짝 의자왕에 이어 의자녀 등장 했습니다. 짝이 없는 사람들을 이뤄준다는 방송 프로그램 짝 이번 애정촌 18기에서 짝 의자녀 등장 하면서 화제가 되고 있습니다. 이 여인은.</dd>
													<dd>
														<span class="bu_divi none_pl">첨부파일 : 문서보안관리소홀 사례 1081920384636.jpg</span>
													
														<br><br><br>
													</dd>
												</dl>
											</li>
											<li>
												<dl>
													<dt>
														<span class="bu_divi">2</span>
														<span class="bu_divi">[게시판]</span> 													 
														<a href="#">문서 및 행정정보 자료 보안관리 강화 협조 요청</a>
														<span> (유사도 : 99.9%)</span>											
													</dt>

													<dd>
														<span class="bu_divi none_pl">작성자 : 공병훈</span>
														<span>작성일 : 2003-01-01</span>
													</dd>
													<dd>
														<span class="bu_divi none_pl">게시판명 : 공지사항</span>
													</dd>

													<dd class="desc">짝 의자녀 등장 / 짝 의자녀 등장 SBS짝 의자왕에 이어 의자녀 등장 했습니다. 짝이 없는 사람들을 이뤄준다는 방송 프로그램 짝 이번 애정촌 18기에서 짝 의자녀 등장 하면서 화제가 되고 있습니다. 이 여인은.</dd>
													<dd>
														<span class="bu_divi none_pl">첨부파일 : 문서보안관리소홀 사례 1081920384636.jpg</span>
													
														<br><br><br>
													</dd>
												</dl>
											</li>
											<li>
												<dl>
													<dt>
														<span class="bu_divi">3</span>
														<span class="bu_divi">[게시판]</span> 													 
														<a href="#">문서 및 행정정보 자료 보안관리 강화 협조 요청</a>
														<span> (유사도 : 99.9%)</span>											
													</dt>

													<dd>
														<span class="bu_divi none_pl">작성자 : 공병훈</span>
														<span>작성일 : 2003-01-01</span>
													</dd>
													<dd>
														<span class="bu_divi none_pl">게시판명 : 공지사항</span>
													</dd>

													<dd class="desc">짝 의자녀 등장 / 짝 의자녀 등장 SBS짝 의자왕에 이어 의자녀 등장 했습니다. 짝이 없는 사람들을 이뤄준다는 방송 프로그램 짝 이번 애정촌 18기에서 짝 의자녀 등장 하면서 화제가 되고 있습니다. 이 여인은.</dd>
													<dd>
														<span class="bu_divi none_pl">첨부파일 : 문서보안관리소홀 사례 1081920384636.jpg</span>
													
														<br><br> 
													</dd>
												</dl>
											</li>
										</ul>
										<div class="line_type3"> 
											<a href="#"><img src="../../images/searchBar/btn_add.gif" alt="addshow"/></a>
										</div>
									</div> <!-- 게시판 -->


									<div class="mar_top50 hei_type1"> <!-- 지식샘 -->
										<p class="line_type1"> </p>
										<span class="txt_bold">
										<img src="../../images/searchBar/btn_type3_arr_rgt.gif" alt="지식샘"/>
										지식샘</span>
										<p class="line_type2"> </p>


										<ul class="list_type5">
											<li>
												<dl>
													<dt>
														<span class="bu_divi">1</span>
														<span class="bu_divi">[지식샘]</span> 
														<a href="#">문서 및 행정정보 자료 보안관리 강화 협조 요청</a>
														<span> (유사도 : 99.9%)</span>											
													</dt>

													<dd>
														<span class="bu_divi none_pl">작성자 : 공병훈</span>
														<span>작성일 : 2003-01-01</span>
													</dd>
													<dd>
														<span class="bu_divi none_pl">게시판명 : 공지사항</span>
													</dd>

													<dd class="desc">짝 의자녀 등장 / 짝 의자녀 등장 SBS짝 의자왕에 이어 의자녀 등장 했습니다. 짝이 없는 사람들을 이뤄준다는 방송 프로그램 짝 이번 애정촌 18기에서 짝 의자녀 등장 하면서 화제가 되고 있습니다. 이 여인은.</dd>
													<dd>
														<span class="bu_divi none_pl">첨부파일 : 문서보안관리소홀 사례 1081920384636.jpg</span>
													
														<br><br><br>
													</dd>
												</dl>
											</li>
											<li>
												<dl>
													<dt>
														<span class="bu_divi">2</span>
														<span class="bu_divi">[지식샘]</span> 
														<a href="#">문서 및 행정정보 자료 보안관리 강화 협조 요청</a>
														<span> (유사도 : 99.9%)</span>											
													</dt>

													<dd>
														<span class="bu_divi none_pl">작성자 : 공병훈</span>
														<span>작성일 : 2003-01-01</span>
													</dd>
													<dd>
														<span class="bu_divi none_pl">게시판명 : 공지사항</span>
													</dd>

													<dd class="desc">짝 의자녀 등장 / 짝 의자녀 등장 SBS짝 의자왕에 이어 의자녀 등장 했습니다. 짝이 없는 사람들을 이뤄준다는 방송 프로그램 짝 이번 애정촌 18기에서 짝 의자녀 등장 하면서 화제가 되고 있습니다. 이 여인은.</dd>
													<dd>
														<span class="bu_divi none_pl">첨부파일 : 문서보안관리소홀 사례 1081920384636.jpg</span>
													
														<br><br><br>
													</dd>
												</dl>
											</li>
											<li>
												<dl>
													<dt>
														<span class="bu_divi">3</span>
														<span class="bu_divi">[지식샘]</span> 
														<a href="#">문서 및 행정정보 자료 보안관리 강화 협조 요청</a>
														<span> (유사도 : 99.9%)</span>											
													</dt>

													<dd>
														<span class="bu_divi none_pl">작성자 : 공병훈</span>
														<span>작성일 : 2003-01-01</span>
													</dd>
													<dd>
														<span class="bu_divi none_pl">게시판명 : 공지사항</span>
													</dd>

													<dd class="desc">짝 의자녀 등장 / 짝 의자녀 등장 SBS짝 의자왕에 이어 의자녀 등장 했습니다. 짝이 없는 사람들을 이뤄준다는 방송 프로그램 짝 이번 애정촌 18기에서 짝 의자녀 등장 하면서 화제가 되고 있습니다. 이 여인은.</dd>
													<dd>
														<span class="bu_divi none_pl">첨부파일 : 문서보안관리소홀 사례 1081920384636.jpg</span>
													
														<br><br>
													</dd>
												</dl>
											</li>
										</ul>
										<div class="line_type3"> 
											<a href="#"><img src="../../images/searchBar/btn_add.gif" alt="addshow"/></a>
										</div>
									</div> <!-- 지식샘 -->

									<div class="mar_top50 hei_type1"> <!-- 커뮤니티 -->
										<p class="line_type1"> </p>
										<span class="txt_bold">
										<img src="../../images/searchBar/btn_type3_arr_rgt.gif" alt="커뮤니티"/>
										커뮤니티</span>
										<p class="line_type2"> </p>

										<ul class="list_type5">
											<li>
												<dl>
													<dt>
														<span class="bu_divi">1</span>
														<span class="bu_divi">[커뮤니티]</span> 
														<a href="#">문서 및 행정정보 자료 보안관리 강화 협조 요청</a>
														<span> (유사도 : 99.9%)</span>											
													</dt>

													<dd>
														<span class="bu_divi none_pl">작성자 : 공병훈</span>
														<span>작성일 : 2003-01-01</span>
													</dd>
													<dd>
														<span class="bu_divi none_pl">게시판명 : 공지사항</span>
													</dd>

													<dd class="desc">짝 의자녀 등장 / 짝 의자녀 등장 SBS짝 의자왕에 이어 의자녀 등장 했습니다. 짝이 없는 사람들을 이뤄준다는 방송 프로그램 짝 이번 애정촌 18기에서 짝 의자녀 등장 하면서 화제가 되고 있습니다. 이 여인은.</dd>
													<dd>
														<span class="bu_divi none_pl">첨부파일 : 문서보안관리소홀 사례 1081920384636.jpg</span>
													
														<br><br><br>
													</dd>
												</dl>
											</li>
											<li>
												<dl>
													<dt>
														<span class="bu_divi">2</span>
														<span class="bu_divi">[커뮤니티]</span> 
														<a href="#">문서 및 행정정보 자료 보안관리 강화 협조 요청</a>
														<span> (유사도 : 99.9%)</span>											
													</dt>

													<dd>
														<span class="bu_divi none_pl">작성자 : 공병훈</span>
														<span>작성일 : 2003-01-01</span>
													</dd>
													<dd>
														<span class="bu_divi none_pl">게시판명 : 공지사항</span>
													</dd>

													<dd class="desc">짝 의자녀 등장 / 짝 의자녀 등장 SBS짝 의자왕에 이어 의자녀 등장 했습니다. 짝이 없는 사람들을 이뤄준다는 방송 프로그램 짝 이번 애정촌 18기에서 짝 의자녀 등장 하면서 화제가 되고 있습니다. 이 여인은.</dd>
													<dd>
														<span class="bu_divi none_pl">첨부파일 : 문서보안관리소홀 사례 1081920384636.jpg</span>
													
														<br><br><br>
													</dd>
												</dl>
											</li>
											<li>
												<dl>
													<dt>
														<span class="bu_divi">3</span>
														<span class="bu_divi">[커뮤니티]</span> 
														<a href="#">문서 및 행정정보 자료 보안관리 강화 협조 요청</a>
														<span> (유사도 : 99.9%)</span>											
													</dt>

													<dd>
														<span class="bu_divi none_pl">작성자 : 공병훈</span>
														<span>작성일 : 2003-01-01</span>
													</dd>
													<dd>
														<span class="bu_divi none_pl">게시판명 : 공지사항</span>
													</dd>

													<dd class="desc">짝 의자녀 등장 / 짝 의자녀 등장 SBS짝 의자왕에 이어 의자녀 등장 했습니다. 짝이 없는 사람들을 이뤄준다는 방송 프로그램 짝 이번 애정촌 18기에서 짝 의자녀 등장 하면서 화제가 되고 있습니다. 이 여인은.</dd>
													<dd>
														<span class="bu_divi none_pl">첨부파일 : 문서보안관리소홀 사례 1081920384636.jpg</span>
													
														<br><br>
													</dd>
												</dl>
											</li>
										</ul>
										<div class="line_type3"> 
											<a href="#"><img src="../../images/searchBar/btn_add.gif" alt="addshow"/></a>
										</div>
									</div> <!-- 커뮤니티 -->

									<div class="mar_top50 hei_type1"> <!-- 전자도서관 -->
										<p class="line_type1"> </p>
										<span class="txt_bold">
										<img src="../../images/searchBar/btn_type3_arr_rgt.gif" alt="전자도서관"/>
										전자도서관</span>
										<p class="line_type2"> </p>


										<ul class="list_type5">
											<li>
												<dl>
													<dt>
														<span class="bu_divi">1</span>
														<span class="bu_divi">[전자도서관]</span> 
														<a href="#">문서 및 행정정보 자료 보안관리 강화 협조 요청</a>
														<span> (유사도 : 99.9%)</span>											
													</dt>

													<dd>
														<span class="bu_divi none_pl">작성자 : 공병훈</span>
														<span>작성일 : 2003-01-01</span>
													</dd>
													<dd>
														<span class="bu_divi none_pl">게시판명 : 공지사항</span>
													</dd>

													<dd class="desc">짝 의자녀 등장 / 짝 의자녀 등장 SBS짝 의자왕에 이어 의자녀 등장 했습니다. 짝이 없는 사람들을 이뤄준다는 방송 프로그램 짝 이번 애정촌 18기에서 짝 의자녀 등장 하면서 화제가 되고 있습니다. 이 여인은.</dd>
													<dd>
														<span class="bu_divi none_pl">첨부파일 : 문서보안관리소홀 사례 1081920384636.jpg</span>
													
														<br><br><br>
													</dd>
												</dl>
											</li>
											<li>
												<dl>
													<dt>
														<span class="bu_divi">2</span>
														<span class="bu_divi">[전자도서관]</span> 
														<a href="#">문서 및 행정정보 자료 보안관리 강화 협조 요청</a>
														<span> (유사도 : 99.9%)</span>											
													</dt>

													<dd>
														<span class="bu_divi none_pl">작성자 : 공병훈</span>
														<span>작성일 : 2003-01-01</span>
													</dd>
													<dd>
														<span class="bu_divi none_pl">게시판명 : 공지사항</span>
													</dd>

													<dd class="desc">짝 의자녀 등장 / 짝 의자녀 등장 SBS짝 의자왕에 이어 의자녀 등장 했습니다. 짝이 없는 사람들을 이뤄준다는 방송 프로그램 짝 이번 애정촌 18기에서 짝 의자녀 등장 하면서 화제가 되고 있습니다. 이 여인은.</dd>
													<dd>
														<span class="bu_divi none_pl">첨부파일 : 문서보안관리소홀 사례 1081920384636.jpg</span>
													
														<br><br><br>
													</dd>
												</dl>
											</li>
											<li>
												<dl>
													<dt>
														<span class="bu_divi">3</span>
														<span class="bu_divi">[전자도서관]</span>
														<a href="#">문서 및 행정정보 자료 보안관리 강화 협조 요청</a>
														<span> (유사도 : 99.9%)</span>											
													</dt>

													<dd>
														<span class="bu_divi none_pl">작성자 : 공병훈</span>
														<span>작성일 : 2003-01-01</span>
													</dd>
													<dd>
														<span class="bu_divi none_pl">게시판명 : 공지사항</span>
													</dd>

													<dd class="desc">짝 의자녀 등장 / 짝 의자녀 등장 SBS짝 의자왕에 이어 의자녀 등장 했습니다. 짝이 없는 사람들을 이뤄준다는 방송 프로그램 짝 이번 애정촌 18기에서 짝 의자녀 등장 하면서 화제가 되고 있습니다. 이 여인은.</dd>
													<dd>
														<span class="bu_divi none_pl">첨부파일 : 문서보안관리소홀 사례 1081920384636.jpg</span>
													
														<br><br>
													</dd>
												</dl>
											</li>
										</ul>
										<div class="line_type3">
											<a href="#"><img src="../../images/searchBar/btn_add.gif" alt="addshow"/></a>
										</div>
									</div> <!-- 전자도서관 -->

									 
							
								</div> <!-- t_content통합검색 -->
							</li>



							<li>
								<p class="tab">게시판</p>
								<div class="t_content"> <!-- t_content 게시판 -->
								
									<div class="list_type1" ><!-- list_type1 -->
									 	<ul>
											<li>
												<dl>
													<dt>
														<span class="bold">총 821 건을 검색하였습니다.</span>
													</dt>	
													<dt>
															<select>
																<option>유사도순</option>
																<option>DOC ID순</option>
															</select> 
															<select>
																<option>오름차순</option>
																<option>내림차순</option>
															</select>
													 
															<label for="srch_total">리스트 출력 건수</label>
															<select>
																<option>3</option>
																<option>5</option>
																<option>10</option>
															</select> 
															<span> 건수 </span>
															<a href="#"><img src="../../images/list/type4/icon_sort.gif" alt="정렬"/></a>			
													</dt>
												</dl>
											</li>
										</ul>			
									</div><!-- list_type1 -->


									<div class="mar_top50 hei_type1"> <!-- 게시판 -->
										<p class="line_type1"> </p>
										<span class="txt_bold">
										<img src="../../images/searchBar/btn_type3_arr_rgt.gif" alt="게시판"/>
										게시판</span>
										<p class="line_type2"> </p>


										<ul class="list_type5">
											<li>
												<dl>
													<dt>
														<span class="bu_divi">1</span>
														<span class="bu_divi">[게시판]</span> 
														<a href="#">문서 및 행정정보 자료 보안관리 강화 협조 요청</a>
														<span> (유사도 : 99.9%)</span>											
													</dt>

													<dd>
														<span class="bu_divi none_pl">작성자 : 공병훈</span>
														<span>작성일 : 2003-01-01</span>
													</dd>
													<dd>
														<span class="bu_divi none_pl">게시판명 : 공지사항</span>
													</dd>

													<dd class="desc">짝 의자녀 등장 / 짝 의자녀 등장 SBS짝 의자왕에 이어 의자녀 등장 했습니다. 짝이 없는 사람들을 이뤄준다는 방송 프로그램 짝 이번 애정촌 18기에서 짝 의자녀 등장 하면서 화제가 되고 있습니다. 이 여인은.</dd>
													<dd>
														<span class="bu_divi none_pl">첨부파일 : 문서보안관리소홀 사례 1081920384636.jpg</span>
													
														<br><br><br>
													</dd>
												</dl>
											</li>
											<li>
												<dl>
													<dt>
														<span class="bu_divi">2</span>
														<span class="bu_divi">[게시판]</span> 
														<a href="#">문서 및 행정정보 자료 보안관리 강화 협조 요청</a>
														<span> (유사도 : 99.9%)</span>											
													</dt>

													<dd>
														<span class="bu_divi none_pl">작성자 : 공병훈</span>
														<span>작성일 : 2003-01-01</span>
													</dd>
													<dd>
														<span class="bu_divi none_pl">게시판명 : 공지사항</span>
													</dd>

													<dd class="desc">짝 의자녀 등장 / 짝 의자녀 등장 SBS짝 의자왕에 이어 의자녀 등장 했습니다. 짝이 없는 사람들을 이뤄준다는 방송 프로그램 짝 이번 애정촌 18기에서 짝 의자녀 등장 하면서 화제가 되고 있습니다. 이 여인은.</dd>
													<dd>
														<span class="bu_divi none_pl">첨부파일 : 문서보안관리소홀 사례 1081920384636.jpg</span>
													
														<br><br><br>
													</dd>
												</dl>
											</li>
											<li>
												<dl>
													<dt>
														<span class="bu_divi">3</span>
														<span class="bu_divi">[게시판]</span> 
														<a href="#">문서 및 행정정보 자료 보안관리 강화 협조 요청</a>
														<span> (유사도 : 99.9%)</span>											
													</dt>

													<dd>
														<span class="bu_divi none_pl">작성자 : 공병훈</span>
														<span>작성일 : 2003-01-01</span>
													</dd>
													<dd>
														<span class="bu_divi none_pl">게시판명 : 공지사항</span>
													</dd>

													<dd class="desc">짝 의자녀 등장 / 짝 의자녀 등장 SBS짝 의자왕에 이어 의자녀 등장 했습니다. 짝이 없는 사람들을 이뤄준다는 방송 프로그램 짝 이번 애정촌 18기에서 짝 의자녀 등장 하면서 화제가 되고 있습니다. 이 여인은.</dd>
													<dd>
														<span class="bu_divi none_pl">첨부파일 : 문서보안관리소홀 사례 1081920384636.jpg</span>
													
														<br><br><br>
													</dd>
												</dl>
											</li>
										</ul>
									</div> <!-- 게시판 -->


									<p class="pagging_type1 mar_top10"> 
										<span class="pre"><a href="#"><img src="../../images/pagging/btn_first.gif" alt="첫페이지"/></a></span>
										<span class="pre"><a href="#"><img src="../../images/pagging/btn_pre.gif" alt="이전페이지"/></a></span>
										<span><a href="#">1</a></span>
										<span><a href="#">2</a></span>
										<span><a href="#">3</a></span>
										<span><a href="#">4</a></span>
										<span><a href="#">5</a></span>
										<span><a href="#">6</a></span>
										<span><a href="#">7</a></span>
										<span><a href="#">8</a></span>
										<span><a href="#">9</a></span>
										<span><a href="#">10</a></span>
										<span class="next"><a href="#"><img src="../../images/pagging/btn_next.gif" alt="다음페이지"/></a></span>
										<span class="next"><a href="#"><img src="../../images/pagging/btn_end.gif" alt="마지막페이지"/></a></span>
									</p>
								
								</div> <!-- t_content 게시판 -->
							</li>
							<li>
								<p class="tab">지식샘</p>
								<div class="t_content"> <!-- t_content 지식샘 -->
								
									<div class="list_type1" ><!-- list_type1 -->
									 	<ul>
											<li>
												<dl>
													<dt>
														<span class="bold">총 821 건을 검색하였습니다.</span>
													</dt>	
													<dt>
															<select>
																<option>유사도순</option>
																<option>DOC ID순</option>
															</select> 
															<select>
																<option>오름차순</option>
																<option>내림차순</option>
															</select>
													 
															<label for="srch_total">리스트 출력 건수</label>
															<select>
																<option>3</option>
																<option>5</option>
																<option>10</option>
															</select> 
															<span> 건수 </span>
															<a href="#"><img src="../../images/list/type4/icon_sort.gif" alt="정렬"/></a>			
													</dt>
												</dl>
											</li>
										</ul>		
									</div><!-- list_type1 -->


									<div class="mar_top50 hei_type1"> <!-- 지식샘 -->
										<p class="line_type1"> </p>
										<span class="txt_bold">
										<img src="../../images/searchBar/btn_type3_arr_rgt.gif" alt="지식샘"/>
										지식샘</span>
										<p class="line_type2"> </p>


										<ul class="list_type5">
											<li>
												<dl>
													<dt>
														<span class="bu_divi">1</span>
														<span class="bu_divi">[지식샘]</span>
														<a href="#">문서 및 행정정보 자료 보안관리 강화 협조 요청</a>
														<span> (유사도 : 99.9%)</span>											
													</dt>

													<dd>
														<span class="bu_divi none_pl">작성자 : 공병훈</span>
														<span>작성일 : 2003-01-01</span>
													</dd>
													<dd>
														<span class="bu_divi none_pl">게시판명 : 공지사항</span>
													</dd>

													<dd class="desc">짝 의자녀 등장 / 짝 의자녀 등장 SBS짝 의자왕에 이어 의자녀 등장 했습니다. 짝이 없는 사람들을 이뤄준다는 방송 프로그램 짝 이번 애정촌 18기에서 짝 의자녀 등장 하면서 화제가 되고 있습니다. 이 여인은.</dd>
													<dd>
														<span class="bu_divi none_pl">첨부파일 : 문서보안관리소홀 사례 1081920384636.jpg</span>
													
														<br><br><br>
													</dd>
												</dl>
											</li>
											<li>
												<dl>
													<dt>
														<span class="bu_divi">2</span>
														<span class="bu_divi">[지식샘]</span>
														<a href="#">문서 및 행정정보 자료 보안관리 강화 협조 요청</a>
														<span> (유사도 : 99.9%)</span>											
													</dt>

													<dd>
														<span class="bu_divi none_pl">작성자 : 공병훈</span>
														<span>작성일 : 2003-01-01</span>
													</dd>
													<dd>
														<span class="bu_divi none_pl">게시판명 : 공지사항</span>
													</dd>

													<dd class="desc">짝 의자녀 등장 / 짝 의자녀 등장 SBS짝 의자왕에 이어 의자녀 등장 했습니다. 짝이 없는 사람들을 이뤄준다는 방송 프로그램 짝 이번 애정촌 18기에서 짝 의자녀 등장 하면서 화제가 되고 있습니다. 이 여인은.</dd>
													<dd>
														<span class="bu_divi none_pl">첨부파일 : 문서보안관리소홀 사례 1081920384636.jpg</span>
													
														<br><br><br>
													</dd>
												</dl>
											</li>
											<li>
												<dl>
													<dt>
														<span class="bu_divi">3</span>
														<span class="bu_divi">[지식샘]</span> 
														<a href="#">문서 및 행정정보 자료 보안관리 강화 협조 요청</a>
														<span> (유사도 : 99.9%)</span>											
													</dt>

													<dd>
														<span class="bu_divi none_pl">작성자 : 공병훈</span>
														<span>작성일 : 2003-01-01</span>
													</dd>
													<dd>
														<span class="bu_divi none_pl">게시판명 : 공지사항</span>
													</dd>

													<dd class="desc">짝 의자녀 등장 / 짝 의자녀 등장 SBS짝 의자왕에 이어 의자녀 등장 했습니다. 짝이 없는 사람들을 이뤄준다는 방송 프로그램 짝 이번 애정촌 18기에서 짝 의자녀 등장 하면서 화제가 되고 있습니다. 이 여인은.</dd>
													<dd>
														<span class="bu_divi none_pl">첨부파일 : 문서보안관리소홀 사례 1081920384636.jpg</span>
													
														<br><br><br>
													</dd>
												</dl>
											</li>
										</ul>
									</div> <!-- 지식샘 -->


									<p class="pagging_type1 mar_top10"> 
										<span class="pre"><a href="#"><img src="../../images/pagging/btn_first.gif" alt="첫페이지"/></a></span>
										<span class="pre"><a href="#"><img src="../../images/pagging/btn_pre.gif" alt="이전페이지"/></a></span>
										<span><a href="#">1</a></span>
										<span><a href="#">2</a></span>
										<span><a href="#">3</a></span>
										<span><a href="#">4</a></span>
										<span><a href="#">5</a></span>
										<span><a href="#">6</a></span>
										<span><a href="#">7</a></span>
										<span><a href="#">8</a></span>
										<span><a href="#">9</a></span>
										<span><a href="#">10</a></span>
										<span class="next"><a href="#"><img src="../../images/pagging/btn_next.gif" alt="다음페이지"/></a></span>
										<span class="next"><a href="#"><img src="../../images/pagging/btn_end.gif" alt="마지막페이지"/></a></span>
									</p>
								
								</div> <!-- t_content 지식샘 -->
							</li>
							<li>
								<p class="tab">커뮤니티</p>

								<div class="t_content"> <!-- t_content 커뮤니티 -->
								
									<div class="list_type1" ><!-- list_type1 -->
									 	<ul>
											<li>
												<dl>
													<dt>
														<span class="bold">총 821 건을 검색하였습니다.</span>
													</dt>	
													<dt>
															<select>
																<option>유사도순</option>
																<option>DOC ID순</option>
															</select> 
															<select>
																<option>오름차순</option>
																<option>내림차순</option>
															</select>
													 
															<label for="srch_total">리스트 출력 건수</label>
															<select>
																<option>3</option>
																<option>5</option>
																<option>10</option>
															</select> 
															<span> 건수 </span>
															<a href="#"><img src="../../images/list/type4/icon_sort.gif" alt="정렬"/></a>			
													</dt>
												</dl>
											</li>
										</ul>			
									</div><!-- list_type1 -->


									<div class="mar_top50 hei_type1"> <!-- 커뮤니티 -->
										<p class="line_type1"> </p>
										<span class="txt_bold">
										<img src="../../images/searchBar/btn_type3_arr_rgt.gif" alt="커뮤니티"/>
										커뮤니티</span>
										<p class="line_type2"> </p>


										<ul class="list_type5">
											<li>
												<dl>
													<dt>
														<span class="bu_divi">1</span>
														<span class="bu_divi">[커뮤니티]</span> 
														<a href="#">문서 및 행정정보 자료 보안관리 강화 협조 요청</a>
														<span> (유사도 : 99.9%)</span>											
													</dt>

													<dd>
														<span class="bu_divi none_pl">작성자 : 공병훈</span>
														<span>작성일 : 2003-01-01</span>
													</dd>
													<dd>
														<span class="bu_divi none_pl">게시판명 : 공지사항</span>
													</dd>

													<dd class="desc">짝 의자녀 등장 / 짝 의자녀 등장 SBS짝 의자왕에 이어 의자녀 등장 했습니다. 짝이 없는 사람들을 이뤄준다는 방송 프로그램 짝 이번 애정촌 18기에서 짝 의자녀 등장 하면서 화제가 되고 있습니다. 이 여인은.</dd>
													<dd>
														<span class="bu_divi none_pl">첨부파일 : 문서보안관리소홀 사례 1081920384636.jpg</span>
													
														<br><br><br>
													</dd>
												</dl>
											</li>
											<li>
												<dl>
													<dt>
														<span class="bu_divi">2</span>
														<span class="bu_divi">[커뮤니티]</span> 
														<a href="#">문서 및 행정정보 자료 보안관리 강화 협조 요청</a>
														<span> (유사도 : 99.9%)</span>											
													</dt>

													<dd>
														<span class="bu_divi none_pl">작성자 : 공병훈</span>
														<span>작성일 : 2003-01-01</span>
													</dd>
													<dd>
														<span class="bu_divi none_pl">게시판명 : 공지사항</span>
													</dd>

													<dd class="desc">짝 의자녀 등장 / 짝 의자녀 등장 SBS짝 의자왕에 이어 의자녀 등장 했습니다. 짝이 없는 사람들을 이뤄준다는 방송 프로그램 짝 이번 애정촌 18기에서 짝 의자녀 등장 하면서 화제가 되고 있습니다. 이 여인은.</dd>
													<dd>
														<span class="bu_divi none_pl">첨부파일 : 문서보안관리소홀 사례 1081920384636.jpg</span>
													
														<br><br><br>
													</dd>
												</dl>
											</li>
											<li>
												<dl>
													<dt>
														<span class="bu_divi">3</span>
														<span class="bu_divi">[커뮤니티]</span> 
														<a href="#">문서 및 행정정보 자료 보안관리 강화 협조 요청</a>
														<span> (유사도 : 99.9%)</span>											
													</dt>

													<dd>
														<span class="bu_divi none_pl">작성자 : 공병훈</span>
														<span>작성일 : 2003-01-01</span>
													</dd>
													<dd>
														<span class="bu_divi none_pl">게시판명 : 공지사항</span>
													</dd>

													<dd class="desc">짝 의자녀 등장 / 짝 의자녀 등장 SBS짝 의자왕에 이어 의자녀 등장 했습니다. 짝이 없는 사람들을 이뤄준다는 방송 프로그램 짝 이번 애정촌 18기에서 짝 의자녀 등장 하면서 화제가 되고 있습니다. 이 여인은.</dd>
													<dd>
														<span class="bu_divi none_pl">첨부파일 : 문서보안관리소홀 사례 1081920384636.jpg</span>
													
														<br><br><br>
													</dd>
												</dl>
											</li>
										</ul>
									</div> <!-- 커뮤니티 -->


									<p class="pagging_type1 mar_top10"> 
										<span class="pre"><a href="#"><img src="../../images/pagging/btn_first.gif" alt="첫페이지"/></a></span>
										<span class="pre"><a href="#"><img src="../../images/pagging/btn_pre.gif" alt="이전페이지"/></a></span>
										<span><a href="#">1</a></span>
										<span><a href="#">2</a></span>
										<span><a href="#">3</a></span>
										<span><a href="#">4</a></span>
										<span><a href="#">5</a></span>
										<span><a href="#">6</a></span>
										<span><a href="#">7</a></span>
										<span><a href="#">8</a></span>
										<span><a href="#">9</a></span>
										<span><a href="#">10</a></span>
										<span class="next"><a href="#"><img src="../../images/pagging/btn_next.gif" alt="다음페이지"/></a></span>
										<span class="next"><a href="#"><img src="../../images/pagging/btn_end.gif" alt="마지막페이지"/></a></span>
									</p>
								
								</div> <!-- t_content 커뮤니티 -->

							</li>
							<li>
								<p class="tab">전자도서관</p>
								<div class="t_content"> <!-- t_content 전자도서관 -->
								
									<div class="list_type1" ><!-- list_type1 -->
									 	<ul>
											<li>
												<dl>
													<dt>
														<span class="bold">총 821 건을 검색하였습니다.</span>
													</dt>	
													<dt>
															<select>
																<option>유사도순</option>
																<option>DOC ID순</option>
															</select> 
															<select>
																<option>오름차순</option>
																<option>내림차순</option>
															</select>
													 
															<label for="srch_total">리스트 출력 건수</label>
															<select>
																<option>3</option>
																<option>5</option>
																<option>10</option>
															</select> 
															<span> 건수 </span>
															<a href="#"><img src="../../images/list/type4/icon_sort.gif" alt="정렬"/></a>			
													</dt>
												</dl>
											</li>
										</ul>		
									</div><!-- list_type1 -->


									<div class="mar_top50 hei_type1"> <!-- 전자도서관 -->
										<p class="line_type1"> </p>
										<span class="txt_bold">
										<img src="../../images/searchBar/btn_type3_arr_rgt.gif" alt="전자도서관"/>
										전자도서관</span>
										<p class="line_type2"> </p>


										<ul class="list_type5">
											<li>
												<dl>
													<dt>
														<span class="bu_divi">1</span>
														<span class="bu_divi">[전자도서관]</span> 
														<a href="#">문서 및 행정정보 자료 보안관리 강화 협조 요청</a>
														<span> (유사도 : 99.9%)</span>											
													</dt>

													<dd>
														<span class="bu_divi none_pl">작성자 : 공병훈</span>
														<span>작성일 : 2003-01-01</span>
													</dd>
													<dd>
														<span class="bu_divi none_pl">게시판명 : 공지사항</span>
													</dd>

													<dd class="desc">짝 의자녀 등장 / 짝 의자녀 등장 SBS짝 의자왕에 이어 의자녀 등장 했습니다. 짝이 없는 사람들을 이뤄준다는 방송 프로그램 짝 이번 애정촌 18기에서 짝 의자녀 등장 하면서 화제가 되고 있습니다. 이 여인은.</dd>
													<dd>
														<span class="bu_divi none_pl">첨부파일 : 문서보안관리소홀 사례 1081920384636.jpg</span>
													
														<br><br><br>
													</dd>
												</dl>
											</li>
											<li>
												<dl>
													<dt>
														<span class="bu_divi">2</span>
														<span class="bu_divi">[전자도서관]</span> 
														<a href="#">문서 및 행정정보 자료 보안관리 강화 협조 요청</a>
														<span> (유사도 : 99.9%)</span>											
													</dt>

													<dd>
														<span class="bu_divi none_pl">작성자 : 공병훈</span>
														<span>작성일 : 2003-01-01</span>
													</dd>
													<dd>
														<span class="bu_divi none_pl">게시판명 : 공지사항</span>
													</dd>

													<dd class="desc">짝 의자녀 등장 / 짝 의자녀 등장 SBS짝 의자왕에 이어 의자녀 등장 했습니다. 짝이 없는 사람들을 이뤄준다는 방송 프로그램 짝 이번 애정촌 18기에서 짝 의자녀 등장 하면서 화제가 되고 있습니다. 이 여인은.</dd>
													<dd>
														<span class="bu_divi none_pl">첨부파일 : 문서보안관리소홀 사례 1081920384636.jpg</span>
													
														<br><br><br>
													</dd>
												</dl>
											</li>
											<li>
												<dl>
													<dt>
														<span class="bu_divi">3</span>
														<span class="bu_divi">[전자도서관]</span> 
														<a href="#">문서 및 행정정보 자료 보안관리 강화 협조 요청</a>
														<span> (유사도 : 99.9%)</span>											
													</dt>

													<dd>
														<span class="bu_divi none_pl">작성자 : 공병훈</span>
														<span>작성일 : 2003-01-01</span>
													</dd>
													<dd>
														<span class="bu_divi none_pl">게시판명 : 공지사항</span>
													</dd>

													<dd class="desc">짝 의자녀 등장 / 짝 의자녀 등장 SBS짝 의자왕에 이어 의자녀 등장 했습니다. 짝이 없는 사람들을 이뤄준다는 방송 프로그램 짝 이번 애정촌 18기에서 짝 의자녀 등장 하면서 화제가 되고 있습니다. 이 여인은.</dd>
													<dd>
														<span class="bu_divi none_pl">첨부파일 : 문서보안관리소홀 사례 1081920384636.jpg</span>
													
														<br><br><br>
													</dd>
												</dl>
											</li>
										</ul>
									</div> <!-- 전자도서관 -->


									<p class="pagging_type1 mar_top10"> 
										<span class="pre"><a href="#"><img src="../../images/pagging/btn_first.gif" alt="첫페이지"/></a></span>
										<span class="pre"><a href="#"><img src="../../images/pagging/btn_pre.gif" alt="이전페이지"/></a></span>
										<span><a href="#">1</a></span>
										<span><a href="#">2</a></span>
										<span><a href="#">3</a></span>
										<span><a href="#">4</a></span>
										<span><a href="#">5</a></span>
										<span><a href="#">6</a></span>
										<span><a href="#">7</a></span>
										<span><a href="#">8</a></span>
										<span><a href="#">9</a></span>
										<span><a href="#">10</a></span>
										<span class="next"><a href="#"><img src="../../images/pagging/btn_next.gif" alt="다음페이지"/></a></span>
										<span class="next"><a href="#"><img src="../../images/pagging/btn_end.gif" alt="마지막페이지"/></a></span>
									</p>
								
								</div> <!-- t_content 전자도서관 -->
							</li>
						</ul>


					</div><!-- tab_type1 -->


			</div> 

			 
		</div><!-- layout_type2_1_wrap --> 
    </body>







<script type="text/javascript">
	$(function(){
		
		var cont_wid = $('.tab_type1').width() - (intTopx($('.tab_type1 ul li.on .t_content').css('padding-left'))+intTopx($('.tab_type1 ul li.on .t_content').css('border-left-width')))*2;
		$('.tab_type1 ul li .t_content').width(cont_wid);
		$('.tab_type1 ul li .tab').click(function(){
			reset_tab_type1();
			$(this).parent().addClass('on');
		});
	});
	
	function reset_tab_type1(){
		$('.tab_type1 ul li').each(function(index, element) {
			if($(this).attr('class') === 'on'){
				$(this).removeClass('on');
			}
		});
	}


	$(function(){
		var list_wid = $('.searchBar_type2 .sch_bar ul').width();
		var list_box_wid = list_wid + $('.searchBar_type2 .sch_bar .selected .btn').width() + intTopx($('.searchBar_type2 .sch_bar .selected .btn').css('padding-left'))*2;
		
		// set seleted text area width
		$('.searchBar_type2 .sch_bar .selected ').width(list_box_wid);
		
		// set list area width
		$('.searchBar_type2 .sch_bar ul').width($('.searchBar_type2 .sch_bar ul').width()+ $('.searchBar_type2 .sch_bar .selected .btn').width() + intTopx($('.searchBar_type2 .sch_bar .selected .btn').css('padding-left'))*2-2);
		
		var list_top = intTopx($('.searchBar_type2 .sch_bar').css('padding-top')) + $('.searchBar_type2 .sch_bar .selected').height();
		// set position of list
		$('.searchBar_type2 .sch_bar ul').css({'top':list_top+3,'left':intTopx($('.searchBar_type2 .sch_bar').css('padding-left'))});
		
		var input_w = $('.sch_bar').width() - $('.selected').width() - $('.sch_btn').width() - (intTopx($('.sch_bar').css('padding-left')) + intTopx($('.sch_bar').css('border-left-width'))*2) - (intTopx($('.sch_input').css('padding-left'))*2);
		$('.sch_input').width(input_w);
		
		// set init selected text
		$('.searchBar_type2 .selected .txt').text($('.searchBar_type2 ul li:first').text());
		
		// '검색어를 입력하세요' show/hide event
		focusEvnt('.searchBar_type2 .sch_input','검색어를 입력하세요.');
		
		// event show list 
		$('.searchBar_type2 .selected .btn').click(function(e) {
			$('.searchBar_type2 .sch_bar ul').slideToggle(200,function(){
				var org_src =$('.searchBar_type2 .selected .btn img').attr('src');
				if(org_src.match('_off.') === null){
					gnb_out('.searchBar_type2 .selected .btn');
				}else{
					gnb_over('.searchBar_type2 .selected .btn img');
				}
			});
		});
		
		// click event lists 
		$('.searchBar_type2 .sch_bar ul li').click(function(){
			$('.searchBar_type2 .selected .btn').trigger('click');
			$('.searchBar_type2 .selected .txt').text($(this).text());
		});
	});
</script>
</html>